<div>
    <!-- Default form subscription -->
    <div class="text-center border border-light p-5" action="#!">

        <p class="h4 mb-4"> Log In</p>

        <p>Join our mailing list. We write rarely, but only the best content.</p>

        <p>
            <a href="" target="_blank">See the last newsletter</a>
        </p>

        <!-- Name -->
        <input type="text" id="defaultSubscriptionFormPassword" class="form-control mb-4" [(ngModel)]="" placeholder="Name">

        <!-- Surname -->
        <input type="text" id="defaultSubscriptionFormEmail" class="form-control mb-4" [(ngModel)]="password" placeholder="Surname">

        <!-- Email -->
        <input type="email" id="defaultSubscriptionFormPassword" class="form-control mb-4" [(ngModel)]="username" placeholder="Email">

        <!-- Phone -->
        <input type="text" id="defaultSubscriptionFormEmail" class="form-control mb-4" [(ngModel)]="password" placeholder="Phone">

        <!-- Address -->
        <input type="text" id="defaultSubscriptionFormPassword" class="form-control mb-4" [(ngModel)]="username" placeholder="Address">

        <!-- Password -->
        <input type="password" id="defaultSubscriptionFormEmail" class="form-control mb-4" [(ngModel)]="password" placeholder="Password">

        <!-- <small class="text-danger" *ngIf="custService.error">Invalid username or password !!!</small> -->

        <!-- Sign in button -->
        <button class="btn btn-info btn-block" (click)="onSubmit()">Register</button>


    </div>
    <!-- Default form subscription -->

</div>