<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Airports & Flights</h4>
                        <p class="card-category">Search for flights. Find nearest flights</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Search airport by name" type="text">
                                </mat-form-field>
                            </div>
                            <div class=" col-md-4 ">
                                <mat-form-field class="example-full-width ">
                                    <input matInput placeholder="Search airport by radius" type="text ">
                                </mat-form-field>
                            </div>
                            <div class=" col-md-4 ">
                                <mat-form-field class="example-full-width ">
                                    <input matInput placeholder="Search airport by code" type="text ">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <button class="btn btn-success" (click)="onSearch()">Search</button>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <!-- <mat-form-field>
                                    <mat-label>Choose a date</mat-label>
                                    <input matInput [matDatepicker]="picker">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  <div class="col-md-4 ">
                        <div class="card card-profile ">
                            <div class="card-avatar ">
                                <a href="javascript:void(0) ">
                                    <img class="img " src="./assets/img/faces/marc.jpg " />
                                </a>
                            </div>
                            <div class="card-body ">
                                <h6 class="card-category text-gray ">CEO / Co-Founder</h6>
                                <h4 class="card-title ">Alec Thompson</h4>
                                <p class="card-description ">
                                    Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                                </p>
                                <a href="javascript:void(0) " class="btn btn-danger btn-round ">Follow</a>
                            </div>
                        </div>
                    </div> -->
        </div>
        <div class="row ">
            <div class="col-md-12 ">
                <div class="card ">
                    <div class="card-header card-header-danger ">
                        <h4 class="card-title ">Clients</h4>
                        <p class="card-category ">List of Clients</p>
                    </div>
                    <div class="card-body ">
                        <div class="table-responsive ">
                            <table class="table ">
                                <thead class=" text-primary ">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Code
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        City
                                    </th>
                                    <th>
                                        Country Code
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let airport of listedAirports ">
                                        <td>
                                            {{ airport.airportId}}
                                        </td>
                                        <td>
                                            {{ airport.code}}
                                        </td>
                                        <td>
                                            {{ airport.name}}
                                        </td>
                                        <td>
                                            {{ airport.city }}
                                        </td>
                                        <td>
                                            {{ airport.countryCode}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>